<nav class="nav nav__container">
    <ul class="nav__list">
        <div class="nav__wrapper nav__wrapper--links">    
            <li class="nav__item">
                <a routerLink="home" class="nav__link archon archon__link">Home<i class="nav__icon archon__icon fa-solid fa-house"></i></a>
            </li>
            <li class="nav__item">
                <a routerLink="products" class="nav__link archon archon__link">Products<i class="nav__icon archon__icon fa-solid fa-list"></i></a>
            </li>
        </div>

        <div class="nav__wrapper nav__wrapper--auth">
            <li class="nav__item">
                <a routerLink="login" class="nav__link archon archon__link">
                    Login
                    <i class="nav__icon archon__icon fa-solid fa-arrow-right-to-bracket"></i>
                </a>
            </li>
        </div>
    </ul>

    <div class="nav__mobile mobile">
        <div #navmobile class="mobile__icon">
            <i class="mobile__icon--bars fa-solid fa-bars"></i>
            <i class="mobile__icon--xmark fa-solid fa-xmark"></i>
        </div>
        <div class="mobile__">

        </div>
    </div>

    <div style="text-align: center; margin: 20px">
        {{ currentBreakpoint }}
    </div>
      
      <div class="container" [ngSwitch]="currentBreakpoint">
        <span class="large" *ngSwitchCase="Breakpoints.large"> Large </span>
        <span class="small" *ngSwitchCase="Breakpoints.small"> Small </span>
      </div>
</nav>

