<form class="form register__form" [formGroup]="registerForm" *ngIf="registerForm" (submit)="onRegister()">
    <fieldset class="form__fieldset register__fieldset">
        <legend class="form__legend register__legend">Register</legend>
        <label class="form__label register__label" for="username">
            <span class="form__text register__text">Email</span>
            <input formControlName="email" class="form__input register__input" type="email" id="username" placeholder="Type your email..."/>
            <div class="alert" *ngIf="registerForm.get('email')!.errors">
                <small *ngIf="email!.errors!['email'] && email!.touched">Press correct email</small>
                <small *ngIf="email!.errors!['required'] && email!.touched">Email is required</small>
            </div>
        </label>
        <div>
            <label class="form__label register__label" for="password">
                <span class="form__text register__text">Password</span>
                <input formControlName="password" class="form__input register__input" type="password" id="password" placeholder="Then your password... " />
                <div class="alert" *ngIf="registerForm.get('password')!.errors">
                    <small *ngIf="password!.errors!['required'] && password!.touched">Password is required</small>
                </div>
            </label>
            <label class="form__label register__label" for="confirmPassword">
                <span class="form__text register__text">Confirm Password</span>
                <input formControlName="confirmPassword" class="form__input register__input" type="password" id="confirmPassword" placeholder="And confirm it... " />
                <div class="alert" *ngIf="registerForm.get('confirmPassword')!.errors">
                    <small *ngIf="confirmPassword!.errors!['required'] && confirmPassword!.touched">Cofirm password is required</small>
                    <small *ngIf="registerForm!.errors!['mismatch'] && confirmPassword!.dirty">Passwords not match</small>
                </div>
            </label>
        </div>
    </fieldset>
    <section class="form__section register__section">
        <button class="form__button register__button" type="submit">
            <span class="form__text--submit form__text register__text--submit">Submit</span>
        </button>
    </section>
    <section class="form__section register__section">
        <p class="form__text form__text--info">If you're registered, <a routerLink="/auth/login">Login here</a></p>
    </section>
</form>