@use '../../../../styles/variables';

.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__heading {
        margin: 1em 2em;
    }
    &__nav {
        width: 100%;
    }
}