$text-black: rgb(31, 31, 31);
$text-white: rgb(240, 240, 240);
$cyber-grape: rgba(86, 71, 135, 1);
$languid-lavender: rgba(219, 203, 216, 1);
$azure-x-11-web-color: rgba(242, 253, 255, 1);
$powder-blue: rgba(154, 212, 214, 1);
$oxford-blue: rgba(16, 25, 53, 1);



