.product {
  &__background {
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 0;
    padding: 2em;

    &:after {
        width: 100%;
        height: 100%;
        content: "";
        background-color: black;
        opacity: .8;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
    }
  }
  &__item {
    padding: 0.2em;
    margin: 1.2em 1.2em;
    max-width: 30em;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -2;
  }

  &__link {
    color: rgb(175, 175, 175);
    text-decoration: none;
  }

  &__title {
    width: 200px;
    font-size: 1.3em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

  }

  &__description {
    
    text-overflow: ellipsis;
    overflow: hidden; 
  }

  &__thumbnail {
    width: 10em;
    height: 12em;
  }
}
